<!DOCTYPE html>
<html ng-app>
<head>
	<title>Angular apps</title>
</head>
<!-- /*Prinitive way to initialize data*/ -->
<body ng-init="names=[{name: 'jhon-smith',city: 'Mumbai'},{name: 'Vijay Rock',city: 'bangalore'},{name: 'Vinay',city: 'lucknow'}]">
<br />
	Name: <input type="text" ng-model="name"/>
	<!-- {{ name}}  only for display-->
	<br />
<!-- 	Iterartion in angular start with ng-init names service -->
	<ul>
		<li ng-repeat="personName in names | filter:name | orderBy:'name'">
		{{ personName.name + '   ' + personName.city}} 
		<!-- {{ personName.name}}- {{ personName.city}} --> </li>
	</ul>
<!-- 	Iterartion in angular End -->
<br />
 <script src="scripts/angular.min.js"></script>
</body>
</html>